<!DOCTYPE html>
<html lang="en">

<head>
  <title>Coffee Time - a LHL Mid-Term project</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="stylesheet" href="/styles/sliderswitch.css" />
  <link rel="stylesheet" href="/styles/tooltips.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- FONTS & ICON SETS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Yanone+Kaffeesatz:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- APP SUPPORT SCRIPTS -->
  <script defer src="/scripts/network.js"></script>
  <script defer src="/scripts/app-modals.js"></script>
  <script defer src="/scripts/extra-googlemaps.js"></script>
  <script defer src="/scripts/extra-screenbg.js"></script>
  <script defer src="/scripts/temp-seeddata.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- MODAL WINDOW CODE -->
  <div class="modal" id="propertySubmit" style="visibility:hidden">
    <div class="modal-content" >
        <span class="close-button">&times;</span>
        <span class="modal-title" id="modal-title"></span>
        <div class="modal-body" id="modal-body"></div>
    </div>
  </div>



  <header id="page-navbar" class="navbar-main">
    <nav id="navbar-userlinks" class="navbar-userlinks">
      <ul>
        <li class="home hoverbutton"><i class="fa-solid fa-house"></i></li>
        <li class="login_button hoverbutton" onClick="showLogin();">Log In</li>
        <li class="sign-up_button hoverbutton">Sign Up</li>

        <li style="padding-left:20px" class="tooltip expand" data-title="latest version on github"><a href="https://github.com/ej8899/lhl-midterm" target="new"><i class="fa-brands fa-github fa-lg"></i></a></li>

        <li><div class="switchcontainer tooltip expand" data-title="toggle light & dark mode"><i class="fa-solid fa-sun darkicon" id="dayicon"></i>&nbsp;<input type="checkbox" class="toggle" unchecked onclick="toggleDarkMode();" id="darkmodeswitch"><i class="fa-solid fa-moon darkicon" id="nighticon" style="padding-left: 4px;"></i></div></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <div class="hero-title-container">
    <span class="hero-title">coffee shop wiki map</span>
    <p class="hero-title__overlay" aria-hidden="true"></p>
    </div>
  </div>
  <div class="canvas-container">
    <canvas id="canv" width="32" height="32"></canvas>
  </div>

  <main id="main-content">
    <div id="map"></div>
    <div id="filtertoggle" class="filtertoggle"><div class="filtertoggleicon" id="filtertoggleicon"><i class="fa-solid fa-sliders fa-lg"></i> Search</div></div>
  </main>

  <footer class="pagefooter">
    <i class="fa-solid fa-copyright"></i> 2022 Our Wiki Map -
    <a onClick="showPrivacyPolicy();" class="hoverbutton">Privacy Policy</a> |
    <a onClick="showAbout();" class="hoverbutton">About Coffee Time</a> |
    <a onClick="showContact();" class="hoverbutton">Contact Us</a> |
  </footer>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfRtVUE5xGwJE6CABUHU7P_IZsWdgoK_k&callback=initMap&libraries=places&v=weekly"
      defer>
  </script>
  <script src="scripts/libraries/jquery-3.4.0.min.js"></script>



<i class="fa-solid fa-circle-chevron-up back-top" id="back-top"></i>
</body>

</html>
