<!DOCTYPE html>
<html lang="en">

<head>
  <title>Map My Wiki - a LHL Mid-Term project</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="stylesheet" href="/styles/sliderswitch.css" />
  <link rel="stylesheet" href="/styles/tooltips.css" />
  <link rel="stylesheet" href="/styles/mapselect.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- FONTS & ICON SETS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo&family=Yanone+Kaffeesatz:wght@400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- APP SUPPORT SCRIPTS -->
  <script defer src="/scripts/network.js"></script>
  <script defer src="/scripts/app-modals.js"></script>

  <script defer src="/scripts/extra-screenbg.js"></script>
  <script defer src="/scripts/temp-seeddata.js"></script>


  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/extra-googlemaps.js"></script>
</head>

<body>
  <!-- MODAL WINDOW CODE -->
  <div class="modal" id="propertySubmit" style="visibility:hidden">
    <div class="modal-content" >
        <span class="close-button">&times;</span>
        <span class="modal-title" id="modal-title"></span>
        <div class="modal-body" id="modal-body"></div>
    </div>
  </div>



  <header id="page-navbar" class="navbar-main">
    <nav id="navbar-userlinks" class="navbar-userlinks">
      <span class="home">Map My Wiki</span>
    </nav>
    <nav id="navbar-userlinksend" class="navbar-userlinksend">
      <button class="login_button " onClick="showLogin();">Log In</button>
      <button class="sign-up_button " onClick="showSignUp();">Sign Up</button>
      <button class="login_button " onClick="logOut();">Log Out</button>

      <span style="padding-left:6px" class="tooltip expand" data-title="latest version on github"><a href="https://github.com/ej8899/lhl-midterm" target="new"><i class="fa-brands fa-github fa-lg"></i></a></span>

      <span><div class="switchcontainer tooltip expand" data-title="toggle light & dark mode"><i class="fa-solid fa-sun darkicon" id="dayicon"></i>&nbsp;<input type="checkbox" class="toggle" unchecked onclick="toggleDarkMode();" id="darkmodeswitch"><i class="fa-solid fa-moon darkicon" id="nighticon" style="padding-left: 4px;"></i></div></span>
      </nav>
  </header>


  <div class="hero">
    <div class="hero-title-container">
    <span class="hero-title" id="titlemap">Map My Wiki</span>
    <span class="hero-subtitle" id="aboutmap">Select a map, then click the map to place a pin!</span>
    <!-- <p class="hero-title__overlay" aria-hidden="true"></p>-->
    </div>
  </div>
  <div class="canvas-container">
    <canvas id="canv" width="32" height="32"></canvas>
  </div>


  <main id="main-content">
    <!-- SELECT FORM BEGIN -->
    <%- include("map-select.ejs") %>
    <!-- SELECT FORM END -->

    <div id="map"></div>

  </main>
  <div id="useronlysection" class="toggle-wrap" style="visibility:hidden;">
    <div class="toggle-block">
    <h4 class="toggle-trigger" id="user-favorites-title">Favorites</h4>
    <div class="toggle-able" id="user-favorites"></div>
    </div>

    <div class="toggle-block">
      <h4 class="toggle-trigger" id="user-mapslist-title">Your Created Maps: show count of maps and points added if there are any)</h4>
      <div class="toggle-able" id="user-mapslist">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, harum at! Illo nemo sapiente officia harum aliquid architecto sint expedita labore deserunt vel commodi recusandae, nesciunt doloremque cumque blanditiis fugiat.</div>
    </div>

    <div class="toggle-block">
      <h4 class="toggle-trigger" id="user-pointslist-title">Your Created Points: ) show count of maps and points added if there are any)</h4>
      <div class="toggle-able" id="user-pointslist">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, harum at! Illo nemo sapiente officia harum aliquid architecto sint expedita labore deserunt vel commodi recusandae, nesciunt doloremque cumque blanditiis fugiat.</div>
    </div>

  </div>


  <footer class="pagefooter">
    <i class="fa-solid fa-copyright"></i> 2022 Map My Wiki -
    <a onClick="showPrivacyPolicy();" class="hoverbutton">Privacy Policy</a> |
    <a onClick="showAbout();" class="hoverbutton">About Map My Wiki</a> |
    <a onClick="showContact();" class="hoverbutton">Contact Us</a> |
  </footer>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfRtVUE5xGwJE6CABUHU7P_IZsWdgoK_k&callback=initMap&libraries=places&v=weekly"
      defer>
  </script>
  <script src="scripts/libraries/jquery-3.4.0.min.js"></script>



<i class="fa-solid fa-circle-chevron-up back-top" id="back-top"></i>
</body>

</html>
