
<div class="center">
  <select name="sources" id="map-sources" class="custom-select map-sources" placeholder="Select a Map...">
  <!--<select name="sources" id="map-sources" class="map-sources" placeholder="Source Type">-->
  <option value="newmap" class="selectmap">Create your own map</option>
  </select>
</div>

