
<div class="center">
  <!--<select name="sources" id="map-sources" class="custom-select map-sources" placeholder="Source Type">-->
  <select name="sources" id="map-sources" class="map-sources" placeholder="Source Type">
  </select>
</div>
