
<!--<select name="sources" id="map-sources" class="map-sources" placeholder="Source Type">-->
<div class="mapnav-container"><div style="width:100%"><span>
  <i style="padding-left: 10px;color:teal;top:10px;" class="fa-solid fa-location-dot fa-xl trash" id="locationhome"></i>
</span></div><div>

  <span id="selectwrapper">
    <select name="sources" id="map-sources" class="custom-select map-sources" placeholder="Select a Map...">
    <option value="newmap" class="selectmap">Create your own map</option>
    </select>
  </span></div><div>
  <span>
    <i style="visibility:hidden;padding-left: 10px; color:var(--black-olive)" class="fa-regular fa-heart fa-xl" id="favoritestatus"></i>
  </span>

</div></div>
