
  <!--<select name="sources" id="map-sources" class="map-sources" placeholder="Source Type">-->
  <div id="selectwrapper">
  <select name="sources" id="map-sources" class="custom-select map-sources" placeholder="Select a Map...">
  <option value="newmap" class="selectmap">Create your own map</option>
  </select>
  </div>&nbsp;<i class="fa-regular fa-heart fa-xl" id="favoritestatus"></i>

