
<!--<select name="sources" id="map-sources" class="map-sources" placeholder="Source Type">-->
<div class="mapnav">
  <span id="selectwrapper">
    <select name="sources" id="map-sources" class="custom-select map-sources" placeholder="Select a Map...">
    <option value="newmap" class="selectmap">Create your own map</option>
    </select>
  </span>
  <span>
    <i style="visibility:hidden;" class="fa-regular fa-heart fa-xl" id="favoritestatus"></i>
  </span>
</div>
