/*
 * Light & Dark Mode variables
 * see https://github.com/ej8899/conColors
 * for details on light and dark mode setup
 */

 :root {
  --rich-black: #0a0a0aff;
  --eerie-black:#1a181aff;
  --davys-grey: #505050ff;
  --persian-red:#d1342fff;
  --black-olive:#434038ff;
  --dutch-white:rgb(179, 173, 156);
}

:root.dark {
  --bodybackgroundcolor: var(--eerie-black);
  --iconcolor: var(--dutch-white);
  --cardbackgroundcolor: rgb(50, 50, 50);
  --cardcontentcolor: var(--dutch-white);
  --wasteal: var(--davys-grey);
  --red: var(--persian-red);
  --submitformcolor: var(--dutch-white);
  --titleglowcolor: teal;
  --headerbordercolor: var(--dutch-white);
  --errorboxcolor: rgba(214, 207, 5, 0.675);
  --darkiconcolor: var(--eerie-black);
  color-scheme: dark;
}

:root.light {
  --bodybackgroundcolor: rgb(21, 118, 118);
  --iconcolor: #545149;
  --cardbackgroundcolor: #e7cda2;
  --cardcontentcolor: #35332d;
  --wasteal: teal;
  --red: red;
  --submitformcolor: #f3b860c9;
  --titleglowcolor: #FD5901;
  --headerbordercolor: rgb(3, 84, 84);
  --errorboxcolor: rgba(255, 0, 0, 0.328);
  --darkiconcolor: var(--eerie-black);
  color-scheme: light;
}

:root {
  --bodybackgroundcolor: rgb(21, 118, 118);
  --iconcolor: #545149;
  --cardbackgroundcolor: #e7cda2;
  --cardcontentcolor: #35332d;
  --wasteal: teal;
  --red: red;
  --submitformcolor: #f3b860c9;
  --titleglowcolor: #FD5901;
  --headerbordercolor: rgb(3, 84, 84);
  --errorboxcolor: rgba(255, 0, 0, 0.328);
  --darkiconcolor: var(--eerie-black);
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  background-color: var(--bodybackgroundcolor);
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: 'Archivo', sans-serif;

}

/* background shade from LHL:
 background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
*/

.hoverbutton:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
  transition: all 300ms;
  cursor:pointer;
}

.hoverpointercolor {
  text-decoration:none;
  color:var(--concontentcolor);
}
.hoverpointercolor:hover {
  cursor: pointer;
  color: var(--wasteal);
}

/*
  MODAL BOX
*/
.modal {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modalblur {
  backdrop-filter: blur(8px);
}
.modaldim{
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 500px;
  border-radius: 0rem 2rem 0rem 2rem;
  color: var(--cardcontentcolor);
}
.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.modal-body {
  font-size: 1rem;
  padding-top: 1.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  z-index: 999;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.modal-button {
  text-align: end;
}

/* Added To*/
.modal-title {
  padding-top: 0.8rem;
}
/* Added To*/
.modal-body {
  width: 100%;
}

.modal-contact {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}





.fadeout {
  opacity: 0;
  transition: 2s opacity ease;
}

/*
  BACK TO TOP button
*/
.back-top {
  bottom: 30px;
  right: 30px;
  position: fixed;
  color: var(--dutch-white);
  font-size: 3em;
  border-radius: 25px;
  box-shadow: 0px 0px 15px #888888;
  padding: 2px;
  background-color: var(--black-olive);
  animation: bounce-in 1s ease;
  transition: color 500ms, opacity 2s;
  z-index:99;
}
.back-top:hover {
  color: var(--persian-red);
  cursor: pointer;
  transition: color 500ms opacity 2s;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(-30px);
    opacity: 1;
  }
  100% {
    transform: translateX(-5px);
  }
}


/*
  Assorted Buttons
*/
.button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  border: 2px solid;
  border-color: var(--davys-grey);
  background-color: var(--dutch-white);
  color: var(--davys-grey);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:hover {
  // color: #fff;
  background-color: orange;
  cursor: pointer;
}

// .accept {
//   //background-color: rgb(184, 182, 182);
//   //border-radius: 2rem;
// }
// .accept:hover {
//   background-color: orange;
//   cursor: pointer;
//   //text-align: center;
// }

/*
  SEARCH FILTER button
*/
.filtertoggle {
  display: flex;
  justify-content: flex-end;
  width: 800px;
  position: relative;
  padding-top: 15px;
  text-align: right;
}
.filtertoggleicon {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid;
  border-radius: 6px;
  margin: 8px;
  padding: 6px;
  width: auto;
  opacity: 0.7;
  transition: all 0.3s;
}
.filtertoggleicon:hover {
  background-color: whitesmoke;
  opacity: 1;
  transition: all 0.3s;
}




/*
  Map displays
*/
#map {
  height: 500px;
  border-radius: 15px;
  border: 2px solid;
  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  z-index:10;
}
.gm-ui-hover-effect {
  display: none !important;
}
.map-infobox-wrapper {
  display:flex;
  flex-direction: row;
  align-content: baseline;
  align-items: center;
  font-size:24px;
}
.map-infobox-content, .iw-container {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  padding: 5px;
  color: var(--black-olive);
  margin: 1px;
  border-radius: 5px 5px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

.pagefooter {
  border-top: 1px solid var(--black-olive);
  font-size: 1rem;
  font-family: 'Archivo', sans-serif;
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  margin-top: 200px;
}


/*
  NAV BAR / NAVBAR
*/
.navbar-main {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  height: 35px;
  font-size: 20px;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}
/* frosted glass effect on navbar -- note there is supporting JS required*/
@supports (-webkit-backdrop-filter: blur(8px) saturate(100%) contrast(75%) brightness(100%)) or
  (backdrop-filter: blur(8px) saturate(100%) contrast(75%) brightness(100%)) {
  .navbar-main-onscroll {
    transition: all 0.5s ease-in-out;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px) saturate(100%) contrast(75%) brightness(100%);
    -webkit-backdrop-filter: blur(8px) saturate(100%) contrast(75%) brightness(100%);
  }
}

.navbar-userlinks {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-userlinksend {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 0.5rem;
}

.page-header__user-links {
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}


.sign-up_button, .login_button {
  border: solid;
  border-color: transparent;
  border-radius: 1em;
  background-color: transparent;
  color: var(--black-olive);
}

.login_button:hover {
  cursor: pointer;
  border-radius: 1em;
  border: solid;
  border-color: var(--black-olive);
  background-color: var(--black-olive);
  color: white;
}

.sign-up_button:hover {
  cursor: pointer;
  border-radius: 1em;
  border: solid;
  border-color:var(--black-olive);
  background-color: var(--black-olive);
  color: white;
}







/*
  FORM styles
*/
input,textarea,select {
  border-radius: 3px;
  border: 1px;
  padding:13px;
}
input[type="text"] {
  width:100%;
}


h1 {
  line-height: 1.1;
  font-size: 6rem;
  max-width: 13ch;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding:0;
  margin: 0;
}

.hero {
  position: relative;
  isolation: isolate;
  padding: 0px;
  margin-bottom: 20px;
  width: 800px
}
.hero-title {
  color: #343434;
  mix-blend-mode: color-burn;
  line-height: 1.1;
  font-size: 6rem;
  max-width: 800px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 600;
  padding:0;
  margin: 0;
  left:0;
  top: 0px;
  display: flex;
  justify-content: center;
}
.hero-title__overlay {
  position: absolute;
  left: 0;
  top: 0px;
  color: #111;
  mix-blend-mode: revert;
  line-height: 1.1;
  font-size: 6rem;
  max-width: 13ch;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding:0;
  margin: 0;
  z-index: 2;
  opacity: 0.3; // effect-strength
}
.hero-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top:0px;
  margin-bottom: 0px;
}
.hero-subtitle {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--black-olive);
}

canvas {
  width:100%;
  height: 100%;
}
.canvas-container {
  height: 50vh;
  clip-path: polygon(0 0, 100% 0, 100% 36%, 0 95%);
  position: fixed;
  inset: 0;
  z-index: -1;
}



/*
  MISC STYLES
  TODO - update when and if time permits
*/
.search-property-form, .login-form, .new-property-form, .sign-up-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto; }
  .search-property-form__field-wrapper, .login-form__field-wrapper,  .sign-up-form__field-wrapper {
    width: 100%;
    display: flex; }
  .search-property-form label, .login-form label, .new-property-form label, .sign-up-form label {
    display: none; }
  .search-property-form textarea, .search-property-form select, .search-property-form input, .search-property-form label, .login-form textarea, .login-form select, .login-form label, .sign-up-form textarea, .sign-up-form select, .sign-up-form input, .sign-up-form label {
    margin: 5px 5px;
    width: 100%; }

    .login-form input, .new-property-form textarea, .new-property-form select, .new-property-form input,  .new-property-form label, .new-property-form__field-wrapper  {
      margin-top: 0px;
      width: 100%;
    }

    .subtitle {
      text-align:center;
    }

    .subtitle-left {
      margin-left:26px
    }

    .buttongap {
      gap: 0.5rem;
      justify-content: center;
    }

    .icongap {
      margin-top:2rem;
    }

    .warning {
      display: flex;
      flex-direction: column;
    }

    .signup-label {
      padding-top: 0.5rem;
    }

    input,textarea {
    font-size: 16px;
    padding: 8px 16px;
    width: 100%;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    }

.formerror input,textarea {
  outline-color: rgba(212, 0, 7, 0.692);
}
.formsuccess input,textarea {
  outline-color: rgb(84 105 212 / 0.5);
}

    .property-listing__preview-image {
      overflow: hidden;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      border: 1px transparent;
      -moz-border-radius: 10px;
      max-width: 100%;
    }
    .property-listing__preview-image img {
      display: block;
      /*
      max-width: 230px;
      width:100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      */
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      /* ORIGINAL CSS:
      min-width: 100%;
      height: 100%;
      */
      padding: 0;
    }





    @mixin icon($color) {
      color: $color;
      font-size: 1rem;
    }

    .fa-circle-question {
      color: blue;
    }

    .fa-sass {
      @include icon(grey);
    }

    .fa-github {
      @include icon(blue);
    }

    .fa-css3-alt {
      @include icon(grey);
    }

    .fa-html5 {
      @include icon(grey);
    }

    .fa-node-js {
      @include icon(grey);
    }

    .fa-database {
      @include icon(grey);
    }

    .modal-info {
      font-size: 0.9rem;
    }

    .fa-address-card {
      color: rgb(180, 32, 32);
    }

    .fa-map-location-dot {
      color: orange;
      padding-top: 1.5rem;
    }

.home {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: var(--black-olive)
}


.fashadow {
  text-shadow: 0 0 10px var(--black-olive), 0 0 20px var(--black-olive), 0 0 30px var(--black-olive);
}



/*
TOGGLES
*/
.toggle-wrap {
  width: 800px;
  background-color: var(--cardbackgroundcolor);
  border: solid;
  border-width: 2px;
  border-radius: 1rem;
  border-color: black;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
  top: -2rem;
  z-index: 8;
  .toggle-block {
    border-bottom: 1px solid var(--cardcontentcolor);
    color: var(--cardcontentcolor);
    .toggle-trigger {
      cursor: pointer;
      position: relative;
      padding: 15px 20px 15px 0;
      margin: 0;
      font-size: 14pt;
      &::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        transform: translateY(-50%);
        right: 0;
        top: 50%;
        color: var(--cardcontentcolor);
        padding-top:10px;
      }
      &:hover::after {
        color: var(--persian-red);
      }
    }
    .toggle-able {
      display: none;
      padding: 1rem;
      padding-bottom: 0;
      padding-top:0;
      color: var(--cardcontentcolor);
    }
    &.active {
      color: var(--cardcontentcolor);
      .toggle-trigger {
        &::after {
          content: "\f077";
        }
      }
    }
  }
}

.mini-block {
  color: var(--cardcontentcolor);
  .mini-trigger {
    cursor: pointer;
    position: relative;
    padding: 15px 20px 15px 0;
    margin: 0;
    font-size: 14pt;
    &::after {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      transform: translateY(-50%);
      right: 0;
      top: 50%;
      color: var(--cardcontentcolor);
      padding-top:10px;
    }
    &:hover::after {
      color: var(--persian-red);
    }
  }
  .mini-able {
    display: none;
    padding: 1rem;
    padding-bottom: 0;
    padding-top:0;
    color: var(--cardcontentcolor);
  }
  &.active {
    color: var(--cardcontentcolor);
    .mini-trigger {
      border-bottom: 1px solid black;
      &::after {
        content: "\f077";
      }
    }
  }
}

.admin-wrap {
  width: 800px;
  background-color: var(--cardbackgroundcolor);
  border: solid;
  border-width: 2px;
  border-radius: 0rem 0rem 1rem 1rem;
  border-color: black;
  padding: 0.1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  position: relative;
  text-align: right;
  top: -1rem;
  z-index: 9;
}
/*

*/
.navbar-userlinksend {
  align-items: center;
}


.hoverpointer:hover {
  cursor: pointer;
}



/*
  MAP NAV BAR
*/
.mapnav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: baseline;
  }

.mapnav-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

.mapnav-item:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  }

  .badge {
    position: relative;
  }

  .badge[data-badge]:after {
    transform: rotate(17deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    content: attr(data-badge);
    position: absolute;
    top: -16px;
    right: -18px;
    width: 22px;
    height: 16px;
    text-align: center;
    line-height: 18px;
    border-radius: 20%;
    border-style: solid;
    border-width: 0.15rem;
    box-shadow: 0 0 1px #333;
    font-size: 10px;
    font-weight: 600;
    border-color: var(--persian-red);
    color: var(--persian-red);
  }

  .edit:hover {
    cursor: pointer;
    color: var(--wasteal);
  }

  .trash:hover  {
    cursor: pointer;
    color: var(--persian-red);
  }



/*
  PRIVATE switch toggle (SCSS)
*/
#privateToggleContainer {
  margin: 0 auto 1em auto;
  padding-top: 10px;
}

.private-toggle {
  position: absolute;
  visibility: hidden; /* Hides the standard checkbox. */
}

.private-toggle + label {
  display: inline-block;
  vertical-align:middle;
  position: relative;
  cursor: pointer;
  padding: 2px;
  width: 48px;
  height: 24px;
  background-color: #dddddd;
  border-radius: 40px;
  margin: 0 auto;
}

.private-toggle + label:before,
.private-toggle + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.private-toggle + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 24px;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.private-toggle + label:after {
  width: 22px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  -webkit-transition: margin 0.4s;
  transition: margin 0.4s;
}

.private-toggle:checked + label:before {
  background-color: #e08f0c;
}

.private-toggle:checked + label:after {
  margin-left: 23px;
}



.abouticoncolor {
  color: var(--black-olive);
  font-size: 1.3rem;
}
